@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,700;1,400&family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300&family=Montserrat:wght@300;500&family=Inter:wght@300;400&family=Cinzel:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
:root {
  --bg-primary:hsl(47, 33%, 92%);
  /*   --bg-primary:hsl(47, 50%, 95%); */
  --bg-secondary:  hsl(47, 50%, 95%);
  --text-primary: #272a34;

  --bg-gray-light: #d3d3d3;
  --bg-gray-dark: #777676;
  --bg-third:#fbf9f7;

  --border-third: #d4c1aa;



  --text-gray-light: #919090;
  --text-gray-medium: #707070;
  --text-gray-dark: #535353;

  --text-accent: #e77072;       /* The signature Wattpad Orange */
  --text-accent-light: hsl(30, 90%, 60%); /* A brighter, hover-state version */
  --text-accent-dark: hsl(30, 90%, 40%);  /* A deeper tone for contrast/active states */

  --olive-green: #556b2f;
  --olive-green-light: #c4d3b2;
  --olive-green-dark: #394b1f;
}

.f-playfair {
  font-family: 'Playfair Display', serif;
}
.f-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.f-ebgaramond {
  font-family: 'EB Garamond', serif;
}
.f-libre-baskerville {
  font-family: 'Libre Baskerville', serif;
}
.f-lora {
  font-family: 'Lora', serif;
}
.f-merriweather {
  font-family: 'Merriweather', serif;
}
.f-cormorant-garamond {
  font-family: 'Cormorant Garamond', serif;
}
.f-inter {
  font-family: 'Inter', sans-serif;
}
.f-cinzel {
  font-family: 'Cinzel', serif;
}
.f-poppins {
  font-family: 'Poppins', sans-serif;
}
.activeVoice {
  background-color: var(--olive-green-light);
  color: var(--olive-green-dark);
}

.animateSlideDown {
  animation: slideDown 0.3s ease-out forwards;
}
@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animateSlideUp {
  animation: slideUp 0.3s ease-out forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}